.header {
    left: 0;
    top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #333;
    padding:0;
    margin: 0;
}
.header h2{
    color:rgb(255, 255, 255);
    padding: 10px;
    margin: 0;
    
}

.header .navbar {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    display: flex;
}
.header .navbutton {
    float: right;
    background-color: #333;
    border-left: white solid 1px;
}
.header .navbutton a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.header .navbutton a:hover {
    background-color: #00a00b;
}