header {
    width:100%;
    height:5rem;
    display: flex;
    align-items: center;
    background-color: #333;
    padding:0;
    margin: 0;
}
h2{
    color:rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    
}

.navbar {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    display: flex;
}
.navbutton {
    float: right;
    background-color: #333;
    border-left: white solid 1px;
}
.navbutton a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbutton a:hover {
    background-color: #00a00b;
}